<h1 style="text-align:center">Booking Listing</h1>
<br>
 <%= link_to 'New Booking', new_room_booking_path %>
<table class="table-striped" style="width:80%;text-align:center">
  <tr style="text-align:center">
    <th>Room Booked</th>
    <th>Booking User</th>
    <th>Booking Duration</th>
  </tr>
 
  <% @bookings.each do |booking| %>
    <tr>
    <td><%= booking.room_id %> </td>
      <td><%= booking.user %> </td>

   <td><%= booking.start %> to <%= booking.end %></td>

    </tr>
  <% end %>
</table>
