
<%= form_for :booking , url: room_bookings_path do |f| %>


<% if defined?(@booking.errors) %>
<%= @booking.errors.full_messages.first %>
<% end %>
<h3>Room Name <%= @room.name %></h3>
<h3>Room No <%= @room.id%></h3>


    <%= f.label :starts_at %><br>
    <%= f.datetime_select :start %>
  </div>

   <div class="field">
    <%= f.label :ends_at %><br>
    <%= f.datetime_select :end %>
  </div>
     <div class="field">
    <%= f.label :user %><br>
    <%= f.text_field :user %>
  </div>
<%= f.hidden_field :room_id, :value=> @room.id %>
  <br>
  <p>
    <%= f.submit %>
  </p>
<% end %>
<%= link_to 'Back', room_bookings_path %>